/* General Styles */
body {
    font-family: "Arial", sans-serif;
    background-color: #f8f9fa;
    /* Light gray background for better contrast */
    margin: 0;
    padding: 0;
}

.card-lg {
    max-width: 100%;
    width: 450px;
    margin: auto;
}

optgroup {
    font-weight: bold;
    color: #333;
    /* Adjust color */
}

.btn-primary,
.btn-primary:hover {
    background-color: #50C878;
    border: none;
    color: #F5F5F5;
    font-weight: bold;
    width: 1in;
}

h2 {
    color: #50C878;
    font-weight: bold;
}

/* Style for the card */
.card-lg {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    /* Subtle gradient */
    border-radius: 15px;
    box-shadow: 4px 4px 10px #d1d1d1, -4px -4px 10px #ffffff;
    /* 3D effect */
    padding: 30px;
    border: none;
}

/* Heading inside the card */
.card-lg h2 {
    text-align: center;
    color: #50C878;
    font-weight: bold;
}

/* Input fields */
.form-floating .form-control {
    border-radius: 10px;
}

/* Labels */
.form-floating label {
    color: #777777;
    font-weight: bold;
}

/* Info section styling */
.info-section {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-section h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #50C878;
}

.info-section p {
    font-size: 1rem;
    color: #495057;
    margin-bottom: 15px;
}

.info-section ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
    color: #495057;
}

.info-section ul li {
    font-size: 0.95rem;
    margin-bottom: 10px;
}